%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

%% write log files to sasl_dir
[
 {sasl,
  [
   {sasl_error_logger, {file, "/tmp/simple_cache.sasl_log"}}
  ]},


%% (G)eneric (A)pplication (S)services config below here. This default config provides
%% the release with log rotaion and trunctation.
 {gas,
  [
   {mod_specs, [{elwrap, {fs_elwrap_h, start_link}}]},

   % elwrap config.
   {err_log, "/tmp/simple_cache.err_log"},
   {err_log_wrap_info, {{err,5000000,10},{sasl,5000000,10}}}, 
   {err_log_tty, false}, % Log to the screen

   {home_file_path, ".simple_cache.config"}
   ]},

 %% Epkg provides package management on the local file system
 {epkg, 
  [
	{low_erts_vsn, "5.5.5"},
	{high_erts_vsn, "5.6.4"},
	{preferred_erts_vsn, "5.6.3"},
	{is_local_boot, false}
  ]
 },

 {simple_cache, 
  [
  ]
 }
]. 
